.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #333;
}

.p_primary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  text-overflow: ellipsis;
  max-width: 700px;
}
.p_secondary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-overflow: ellipsis;
  max-width: 700px;
}
.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #000;
}
