---
import { Title, Text } from "src/ui/text";
import { Button } from "../ui/Button/Button";
import { Header } from "src/components/Header/Header";
import { Hero } from "src/components/Hero/Hero";
import { Skill } from "src/ui/Skill-Button";
import { AboutMe } from "src/components/About-Me/About-Me";
import { Proyect } from "src/components/Proyects/Proyect";
import { Contact} from "src/components/Contact/Contact"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/hover.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <title>Astro</title>
  </head>
  <body>
    <header class="header">
      <Header client:only />
      <Hero />
    </header>
    <main class="main">
      <AboutMe />
      <Proyect />
      <Contact/>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </main>
  </body>
</html>
<style>
  .header {
    width: 100%;
    height: 100vh;
  }
  .main {
    width: 100%;
    overflow-x: hidden;
  }
</style>
